.checkoutPage {}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.checkoutHeader {
    background-color: #EEEEEE;
}

.styleheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 120px;
    position: relative;
    margin: 0px 10px;
}

.securityIcon {
    display: flex;
    align-items: center;
}

.securityIcon svg {
    margin-right: 8px;
}

.line {
    height: 5px;
    width: 100%;
    background-color: #333F48;
}

.logoLine {
    width: 70px;
    height: 5px;
    background-color: #EEEEEE;
    position: absolute;
    top: -5px;
    left: 119px;
}

.svgLogo {
    width: 70px;
    height: 80px;
    position: relative;
}

.bottomFooter {
    text-align: center;
    font: normal normal normal 14px/20px Inter;
    letter-spacing: 0px;
    color: #72797E;
    text-transform: capitalize;
    opacity: 1;
    padding: 20px;
}

.checkoutSvg {
    display: flex;
}

.review {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewTitle {
    color: #00838C;
    font-weight: bold;
}

.reviewTitleActive {
    color: #999999;
    font-weight: normal;
}

.svgMain {
    display: flex;
    align-items: center;
}

.svg {
    height: 70px;
    width: 70px;
}

.reviewSvg {
    display: flex;
    align-items: center;
}

.svgLine {
    height: 7px;
    width: 73px;
    background-color: #00838C;
}

.reviewItem {
    border: 7px solid #00838C;
    display: inline;
    border-radius: 157%;
    padding: 5px 10px;
    font: normal normal medium 14px/17px Inter;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}

.checked {
    background-color: #EEEEEE;
}

.checkedBorder {
    border-color: #EEEEEE;
}

.yesSymbol {

    border-radius: 50%;
    background-color: #FFFFFF;
    position: relative;
}

/* main conatent css  :start */
.content {
    margin: 20px 0px;
    display: flex;
}

.shipAddress {
    width: 70%;
    margin-right: 60px;
}

.shipAddressTitle {
    font-size: 16px;
    color: #252525;
    text-transform: capitalize;
    opacity: 1;
    letter-spacing: 0px;
    font-weight: 600;
    text-align: left;
    padding: 12px 20px;
    background: #EEEEEE;
}

.addresses {
    display: flex;
    gap: 40px;
    margin: 20px 0px;
}

.addressBtn {
    border: 2px solid #333F48;
    padding: 14px 32px;
    font-weight: bold;
    font-size: 16px;
    color: #333F48;
    background-color: white;
}

.addressCard {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid #333F48;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    position: relative;
}

.borderChange {
    border: 2px solid #DDDDDD;
}

.addressCard span {
    padding-bottom: 10px;
}

.address {
    color: #666666;
}

.ship {
    font-weight: bold;
}

.PhoneNumber {
    color: #00838C;
}

.checkedSvg {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #333F48;
}

.addressBackground {
    background: #333F48A3 0% 0%;
    width: 100%;
    height: 680px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 0;
}

.addressForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: white;
    text-align: center;
    max-width: 700px;
    position: relative;
    padding: 25px;
    width: 100%;
    margin: 0px 10px;
}

.PopupForm {
    max-width: 600px;
    width: 100%;
}

.closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
}

/* popup form css :start */
.Title {
    font-size: 22px;
    color: #333F48;
    text-align: left;
    font-weight: bold
}

.formField {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.formField label {
    text-align: left;
    letter-spacing: 0px;
    color: #333F48;
    text-transform: capitalize;
    opacity: 1;
    font-weight: 600;
    padding: 5px 0px;
    font-size: 16px;
}

.formField input {
    border: 1px solid #DDDDDD;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
    margin-bottom: 5px;
}

.formFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 15px;
}

.cancelBtn {
    color: #00838C;
    border: none;
    padding: 12px 25px;
    background: white;
}

.shipBtn {
    color: white;
    background-color: #333F48;
    border: none;
    padding: 12px 25px;
    font-weight: bold;
}

.MethodDetails input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.shipMethod {
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 15px;
}


.clickCollect {
    font-size: 16px;
}

.clickCollect input {
    margin-right: 8px;
}

.clickCollect label span {
    margin-right: 25px;
    font-weight: bold;
}

.storeContent {
    padding: 10px 15px;
}

.storeSelect {
    border: 1px solid #CCCCCC;
    padding: 12px 15px;
    width: 100%;
    background: white;
}

.storeAddress {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #333F48;
    margin: 10px 20px;
}

/* .storeAddress div,
span {
   
} */

.map {
    color: #00838C;
}

.nextBtn {
    background: #333F48;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
    padding: 14px 32px;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.nextBtnContent {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 30px;
}

.summary {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.summaryTitle {
    padding: 12px 20px;
    background: #EEEEEE;
    font-weight: 600;
}

.cartItemContent {
    padding: 20px;
}

.ItemCart {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.productDesc {
    display: flex;
}

.productTitle {
    font-size: 12px;
    font-weight: 600;
}

.productAuth {
    letter-spacing: 0px;
    color: #72797E;
    opacity: 1;
    font-size: 12px;
}

.productDesc img {
    width: 50px;
    height: 70px;
    margin-right: 10px;
}

.productDetail {
    display: flex;
    flex-direction: column;
}

.productPrice {
    font-size: 12px;
    letter-spacing: 0px;
    color: #333F48;
    opacity: 1;
}

.storeName {
    padding: 15px 0px;
}

.storeAddress1 {
    padding: 10px 0px;
}

.street {
    padding: 8px 0px;
}

.mobileNumber {
    padding: 10px 0px;
}


@media only screen and (max-width: 1080px) {
    .styleheader {
        padding: 0px 10px;
    }

    .summary {
        display: none;
        width: 40%;
    }

    .shipAddress {
        width: 100%;
        margin: 0px 10px;
    }

    .addressCard {
        max-width: 400px;
        width: 100%;
    }

    .addressBtn {

        width: 100%;
    }

    .pickup {
        max-width: 700px;
        width: 100%;

    }
}

@media only screen and (max-width: 768px) {
    .styleheader {
        padding: 0px 10px;
    }

    .logoLine {

        left: 10px;
    }

    .content {
        margin: 20px 0px;
        display: flex;
        justify-content: center;
    }

    .summary {
        display: none;
    }

    .shipAddress {
        width: 90%;
        /* margin: 0px 30px; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .addresses {
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0px;
    }

    .addressCard {
        max-width: 400px;
        width: 100%;
    }

    .checkoutSvg {
        display: none;
    }

    .shipMethod {
        width: 98%;
        margin: 5px 10px;
    }

    .storeContent {
        padding: 10px 0px;
    }

    .shipAddressTitle {
        width: 92%;
    }

    .addressBtn {
        width: 100%;
    }

    .addressCard {
        max-width: 546px;
        width: 100%;
    }

    .addressBtn {
        /* max-width: 400px; */
        width: 94%;
    }

    .shipMethod {
        border-bottom: 1px solid #DDDDDD;
        padding: 10px 0px;
    }

}